@tailwind base;


/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: local;
    border-radius: 20px;
    margin: 10px;
    padding: 2px;
    bottom: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #ccc;
    cursor: pointer;
}

::-webkit-scrollbar-corner{
    background: local;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

@tailwind components;
@tailwind utilities;